<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.androidbasics">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@menu/menu" />

        <activity android:name=".ActionBarActivity"
            android:label="ActionBar Basics"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".NotificationManagerActivity"
            android:label="Notification Basics" />
        <activity
            android:name=".DatePickerDialogActivity"
            android:label="Date Picker Dialog" />
        <activity
            android:name=".TimePickerDialogActivity"
            android:label="TimePicker Dialog" />
        <activity
            android:name=".TimePickerBasicsActivity"
            android:label="TimePicker" />
        <activity android:name=".AutoCompleteTextViewActivity" />
        <activity
            android:name=".FragmentsBasicsActivity"
            android:label="Fragments Basics" />
        <activity
            android:name=".AndroidGesturesActivity"
            android:label="Android Gestures" />
        <activity
            android:name=".WebViewBasics"
            android:label="WebView Basics" />
        <activity
            android:name=".SeekBarBasics"
            android:label="SeekBar Basics" />
        <activity
            android:name=".ListViewBasics"
            android:label="ListView Basics" />
        <activity
            android:name=".ClockBasics"
            android:label="Clock Basics" />
        <activity
            android:name=".AlertDialogBasics"
            android:label="AlertDialog Basics" />
        <activity
            android:name=".RatingBarBasics"
            android:label="RatingBar Basics" />
        <activity
            android:name=".RadioButtonBasics"
            android:label="RadioButton Basics" />
        <activity
            android:name=".Checkbox"
            android:label="Check Box" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>